# Your WordPress site URL. NOTE: Do not include a trailing slash at the end of the URL.
NEXT_PUBLIC_WORDPRESS_URL=https://panel.teklog.in

# Plugin secret found in WordPress Settings->Headless faust
FAUST_SECRET_KEY=47911f60-af8c-4d94-902f-bb731680fa61

# Your frontend NextJS site URL.  NOTE: Do not include a trailing slash at the end of the URL.
NEXT_PUBLIC_URL=https://teklog.in

# Enable or disable the RTL mode: ltr or rtl
NEXT_PUBLIC_SITE_DIRECTION=ltr

# Enable or disable the GEAR setting icon: true or false
NEXT_PUBLIC_SITE_GEAR_ICON=false

# Enable or disable the GET method for the API calls: GET or POST
NEXT_PUBLIC_SITE_API_METHOD=GET

#  Google analytics tracking ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-EXWXN9F44M


# Image remote URLs
NEXT_PUBLIC_IMAGE_REMOTE_HOSTNAME_1=i0.wp.com
NEXT_PUBLIC_IMAGE_REMOTE_HOSTNAME_2=i0.wp.com


